[user]
	name = Oliver Turner
	email = oliver.turner@codedsignal.co.uk

[alias]
  c         = commit -am
  up        = pull
  p         = push
  s         = status -s
  st        = status -sb
  pu        = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  ls        = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll        = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  wat       = whatchanged -p --abbrev-commit --pretty=medium
  graph     = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
  rollback  = reset --hard HEAD@{1}
	
[core]
	excludesfile   = ~/.gitignore
  attributesfile = ~/.gitattributes
	quotepath      = false
  whitespace     = fix,space-before-tab,tab-in-indent,trailing-space,cr-at-eol

[http]
	postBuffer = 524288000

[github]
	user  = codedsignal
	token = 145fb638bf0c974688ce4b8c692229ef

[difftool "sourcetree"]
	cmd  = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
  ui = always

[color "branch"]
  current = yellow black
  local   = yellow
  remote  = magenta
  
[color "diff"]
  meta       = yellow bold
  frag       = magenta bold
  old        = red reverse
  new        = green reverse
  whitespace = white reverse
  
[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan reverse
  branch    = magenta

